doctype 5
html(lang="en")
  head
    title Stat-Stock-Stats
    link(rel="stylesheet" type="text/css" href="/style.css")
  body
    h1 Stat-Stock-Stats
    table#data

    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
    script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
    script(src="/app.js")